
* {
	margin: 0px;
	padding: px;
}

#top {
	text-align: center;
	font-size: 50px;
	font-family: 'Ubuntu Mono', monospace;
}

#top1 {
	text-align: center;
	color: black;
	font-size: 21px;
	font-family: 'Ubuntu Mono', monospace;
}

#navcontent {
	display: flex;
	justify-content: center;
}

ul li {
	list-style: none;
	margin: 15px;
	border-radius: 20px;
}

ul li a {
	padding: 1px;
	color: white;
	text-decoration: none;
	border-radius: 10px;
}

ul li a:hover {
	background-color: black;
	border-radius: 10px;
}


footer {
	text-align: center;
}

/* img {
  width: 45px
  height: 45px
} */
    